h1{
color:purple;
font-family: sans serif;
border-bottom: 3px inset green;
margin-right: 80%;
}
#image{
border: solid brown;
border-radius:50%;
border-style: double;
line-height: 50px;
}
h2{
color:red;
text-shadow:5px 5px 5px black;
}
ul{
list-style: none;
padding: 5px;
}
ul li{
border-bottom: 1px solid lightgrey;
margin-right:90%;
}
